html {
  font-size: 0.625rem;
}

body {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
}

* {
  margin: 0;
  padding: 0;
}

/* navbar */
.container {
  /* margin-top: 1.6rem; */
  background-color: #8e938c;
  display: grid;
  grid-row-gap: 1.6rem;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: repeat(3, min-content) 70vh repeat(5, min-content);
}

.logo {
  color: #373a36;
  grid-column: 2/4;
  grid-row: 1/2;
  margin: 1.6rem 1.6rem 0.2rem 1.6rem;
}

.logo-adjust {
  color: #eece1a;
  font-size: 6rem;
  letter-spacing: 0.1rem;
}

.logo-2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.first-nav {
  grid-column: 8/10;
  grid-row: 1/2;
  margin: 4rem 1.6rem 0.2rem 1.6rem;
}

.first-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.first-nav-link label {
  background-color: #8e938c;
  border: 0.1rem solid #eece1a;
  border-radius: 0.7rem;
  color: #373a36;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.first-nav-link label:hover {
  background-color: #373a36;
  color: #eece1a;
}

.first-nav-link {
  color: #373a36;
  display: inline-block;
  font-size: 2rem;
  text-align: right;
  text-decoration: none;
  width: 100%;
}

.first-nav-link::after {
  background-color: #eece1a;
  display: block;
  margin: auto;
}

.first-nav-link span {
  color: #34598f;
  font-size: 1.3rem;
}

.first-nav-link i {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.second-nav {
  border-bottom: 0.1rem solid #eece1a;
  border-top: 0.1rem solid #eece1a;
  grid-column: 2 / 10;
  grid-row: 3;
}

.second-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.second-nav-link {
  color: #373a36;
  display: grid;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0.8rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s 0.1s;
}

.second-nav-item:hover .second-nav-link {
  background-color: #373a36;
  color: #eece1a;
}

.second-nav-link::before,
.second-nav-link::after {
  background-color: #eece1a;
  content: "";
  display: block;
  height: 0.1rem;
  transition: width 0.3s cubic-bezier(0.55, 0, 0.98, 0.54),
    background-color 0.5s 0.3s;
  width: 0;
}

.second-nav-link::after {
  justify-self: end;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after {
  background-color: #eece1a;
  width: 100%;
}

.second-nav-item:first-child {
  position: relative;
}

/* end of navbar */
