html {
  font-size: 0.625rem;
}

body {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
}

* {
  margin: 0;
  padding: 0;
}

/* navbar */
.container {
  /* margin-top: 1.6rem; */
  background-color: #8e938c;
  display: grid;
  grid-row-gap: 1.6rem;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: repeat(3, min-content) 70vh repeat(5, min-content);
}

.logo {
  color: #373a36;
  grid-column: 2/4;
  grid-row: 1/2;
  margin: 1.6rem 1.6rem 0.2rem 1.6rem;
}

.logo-adjust {
  color: #eece1a;
  font-size: 6rem;
  letter-spacing: 0.1rem;
}

.logo-2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.first-nav {
  grid-column: 8/10;
  grid-row: 1/2;
  margin: 4rem 1.6rem 0.2rem 1.6rem;
}

.first-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.first-nav-link label {
  background-color: #8e938c;
  border: 0.1rem solid #eece1a;
  border-radius: 0.7rem;
  color: #373a36;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.first-nav-link label:hover {
  background-color: #373a36;
  color: #eece1a;
}

.first-nav-link {
  color: #373a36;
  display: inline-block;
  font-size: 2rem;
  text-align: right;
  text-decoration: none;
  width: 100%;
}

.first-nav-link::after {
  background-color: #eece1a;
  display: block;
  margin: auto;
}

.first-nav-link span {
  color: #34598f;
  font-size: 1.3rem;
}

.first-nav-link i {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.second-nav {
  border-bottom: 0.1rem solid #eece1a;
  border-top: 0.1rem solid #eece1a;
  grid-column: 2 / 10;
  grid-row: 3;
}

.second-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.second-nav-link {
  color: #373a36;
  display: grid;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0.8rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s 0.1s;
}

.second-nav-item:hover .second-nav-link {
  background-color: #373a36;
  color: #eece1a;
}

.second-nav-link::before,
.second-nav-link::after {
  background-color: #eece1a;
  content: "";
  display: block;
  height: 0.1rem;
  transition: width 0.3s cubic-bezier(0.55, 0, 0.98, 0.54),
    background-color 0.5s 0.3s;
  width: 0;
}

.second-nav-link::after {
  justify-self: end;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after {
  background-color: #eece1a;
  width: 100%;
}

.second-nav-item:first-child {
  position: relative;
}

/* end of navbar */

/* modal box */
.trail-add-in-header {
  background-color: #373a36;
  border-bottom: 0.1rem solid #eece1a;
  border-radius: 20%;
  border-top: 0.1rem solid #eece1a;
  color: #eece1a;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.header-add-in {
  font-size: 4rem;
}

.trail-add-in,
table {
  border-bottom: 0.3rem solid #373a36;
  font-size: 2rem;
  grid-column: 2 / 10;
  grid-row: 4 / 10;
  margin: 2rem 0;
  padding: 2rem 0;
}

.trail-add-page {
  border-bottom: 0.3rem solid #373a36;
  font-size: 2rem;
  grid-column: 2 / 10;
  grid-row: 4 / 10;
  margin: 2rem 0;
  padding: 2rem 0;
}

.trail-info {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: left;
}

.forms-wrapper {
  background-color: #545953;
  border: 0.1rem solid #eece1a;
  border-radius: 0.7rem;
  box-shadow: 3px 8px rgba(7, 8, 6, 0.2);
  display: none;
  left: 50%;
  opacity: 0.95;
  padding: 2rem;
  position: fixed;
  top: 25%;
  transform: translateX(-50%);
  z-index: 1000;
}

.forms-wrapper-add {
  /* display: none; */
  background-color: #545953;
  border: 0.1rem solid #eece1a;
  border-radius: 0.7rem;
  box-shadow: 3px 8px rgba(7, 8, 6, 0.2);
  left: 50%;
  opacity: 0.95;
  padding: 2rem;
  position: fixed;
  top: 25%;
  transform: translateX(-50%);
  z-index: 1000;
}

.show-btns-wrapper {
  display: flex;
  padding: 1rem;
}

.show-form-btn {
  background-color: #373a36;
  border: 0.1rem solid #eece1a;
  border-radius: 0.7rem;
  color: #fff;
  cursor: pointer;
  flex: 0 1 50%;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.form-heading {
  color: #eece1a;
  font-size: 2rem;
  padding: 1rem 0 0 0.2rem;
  text-transform: uppercase;
}

.section {
  font-size: 1.65rem;
  font-style: italic;
  letter-spacing: 0.2rem;
}

.forms-wrapper form {
  padding: 1rem;
  width: 50rem;
}

.fullname-inputs-wrapper {
  display: flex;
}

.trailname-inputs-wrapper {
  display: flex;
  font-size: 1.5rem;
}

.fullname-inputs-wrapper input {
  width: 50%;
}

.trailname-inputs-wrapper input {
  width: 50%;
}

.contact-form input {
  border: 0.1rem solid #fff;
  outline: none;
  padding: 0.4rem 1rem;
}

.forms-wrapper form input:not(.form-btn) {
  background-color: #d0d3cd;
  border: 0.1rem solid #8e938c;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #777;
  margin: 0.3rem 0;
  outline: none;
  padding: 1.3rem;
}

.form-input {
  border: 0.1rem solid #8e938c;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  width: 100%;
}

.form-btn {
  background-color: #eece1a;
  border: 0.1rem solid #eece1a;
  border-radius: 0.7rem;
  color: #373a36;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  margin: 0.8rem;
  padding: 1rem;
  transition: margin 0.2s, width 0.2s ease-in, font-size 0.2s ease-in,
    letter-spacing 0.2s ease-in;
  width: 40%;
}

.form-btn:hover {
  /* padding: .80rem 1rem; */
  cursor: pointer;
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
  letter-spacing: 0.4rem;
  margin-bottom: 0.6rem;
  width: 45%;
}

.x-btn {
  bottom: 3.3rem;
  color: #8e938c;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  right: 3.5rem;
}

.x-btn:hover {
  color: #eece1a;
  font-size: 2.5rem;
}

.login-form {
  display: none;
}

.show-signup-form {
  background-color: #8e938c;
  color: #eece1a;
  pointer-events: none;
}

#show-form:checked ~ .show-btns-wrapper .show-login-form {
  background-color: #8e938c;
  color: #eece1a;
  pointer-events: none;
}

#show-form:checked ~ .show-btns-wrapper .show-signup-form {
  background-color: #373a36;
  color: #fff;
  pointer-events: initial;
}

#show-form:checked ~ .signup-form {
  display: none;
}

#show-form:checked ~ .login-form {
  display: block;
}

/* This is for dropdown time  */
#show-hide-forms:checked ~ .forms-wrapper {
  animation: anim 0.5s;
  display: block;
}

#show-hide-forms:checked ~ .container {
  opacity: 0.6;
  pointer-events: none;
}

/* end of modal box */

/* contact */
.contact {
  background-color: #373a36;
  display: grid;
  grid-column: 1 / -1;
  grid-column-gap: 3rem;
  grid-row: 8 / 9;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 0;
}

.contact-heading {
  color: #fff;
  font-size: 2rem;
  justify-self: end;
}

.contact-form {
  display: flex;
}

.contact-input {
  border-radius: 5rem 0 0 5rem;
  border-right: none;
  font-weight: bold;
}

.contact-btn {
  background-color: #8e938c;
  border-left: none;
  border-radius: 0 5rem 5rem 0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.contact-btn:hover {
  background-color: #373a36;
  color: #eece1a;
}

/* end of contact */

/* footer */
.footer {
  background-color: #8e938c;
  color: #373a36;
  font-size: 1.6rem;
  grid-column: 2 / 10;
  grid-row: 9 / 10;
  padding: 2rem 0 3rem 0;
  text-align: center;
}

.company-logo {
  color: #eece1a;
  cursor: pointer;

  /* font-weight: bold; */
}

.company-logo:hover {
  color: #373a36;
}

/* end of footer */

@keyframes anim {
  0% {
    left: 40%;
  }
  50% {
    left: 60%;
  }
  75% {
    left: 45%;
  }
  100% {
    left: 50%;
  }
}

/* end of footer */
